<!-- Toolbar -->
<main>
  <div>
    <div>classify an uploaded image.</div>
    <div>take a picture on your phone, or upload one from your computer.</div>
    <!-- Consider: http://valor-software.com/ng2-file-upload/ -->
    <form>
      <input name="photo" type="file" (change)="onChooseFile($event)"/>
    </form>
    <!-- Loading spinner-->
    <div class="uploading-progress"></div>
  </div>

  <div class="tensor-cards" *ngIf="imageDataUrl$ | async">
    <div class="mdl-card__media">
      <img [src]="imageDataUrl$ | async"/>
    </div>
  </div>
  <div class="tensor-classes">
    <ul>
      <li *ngFor="let classTuple of (classes$ | async)">
        {{classTuple[0]}} = {{classTuple[1] * 100}}%
      </li>
    </ul>
    <!-- ngFor class of classes -->
  </div>
</main>
