<md-toolbar color="primary">
  <span>Hello Tensors</span>
  <span class="toolbar-spacer"></span>
  <a href="https://github.com/justindujardin/hello-tensors" target="_blank" md-button>
    <md-icon>code</md-icon>
    GITHUB</a>
</md-toolbar>
<md-card>
  <md-card-title>Classify an Image</md-card-title>
  <md-card-subtitle>take a picture on your phone, or upload one from your computer.</md-card-subtitle>
  <!-- Consider: http://valor-software.com/ng2-file-upload/ -->
  <form>
    <input name="photo" type="file" (change)="onChooseFile($event)"/>
  </form>
</md-card>

<main fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

  <md-card class="class-card" *ngIf="imageDataUrl$ | async">
    <!-- Loading state-->
    <md-card-title *ngIf="loading$ | async">
      <md-icon>cloud_upload</md-icon>
      Uploading image...
    </md-card-title>
    <md-card-subtitle *ngIf="loading$ | async">
      <md-progress-bar [value]="uploadProress$ | async"></md-progress-bar>
    </md-card-subtitle>

    <!-- Classified state -->
    <md-card-title *ngIf="bestGuess$ | async">
      <md-icon md-list-icon>{{getSentimentFromPercentage((bestGuess$ | async)[1] * 100)}}</md-icon>
      {{(bestGuess$ | async)[0]}}
    </md-card-title>
    <md-card-subtitle *ngIf="bestGuess$ | async">
      <md-progress-bar [value]="(bestGuess$ | async)[1] * 100"></md-progress-bar>
    </md-card-subtitle>


    <md-card-content *ngIf="!(loading$ | async)">
      <img md-card-image [src]="imageDataUrl$ | async"/>
      <md-list dense *ngIf="classes$ | async">
        <md-list-item *ngFor="let classTuple of (classes$ | async)">
          <md-icon md-list-icon>{{getSentimentFromPercentage(classTuple[1] * 100)}}</md-icon>
          <h4 md-line>{{classTuple[0]}} ({{classTuple[1] * 100}}%)</h4>
          <p md-line>
            <md-progress-bar [value]="classTuple[1] * 100"></md-progress-bar>
          </p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</main>
